@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    background: #76b852; /* fallback for old browsers */
    background: rgb(141, 194, 111);
    background: linear-gradient(
        90deg,
        rgba(141, 194, 111, 1) 0%,
        rgba(118, 184, 82, 1) 50%
    );
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.input {
    box-sizing: border-box;
}

.form-field {
    font-size: 14px;
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    background: #f2f2f2;
}

.button {
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.green-button {
    background: #4caf50;
}
.blue-button{
    background: #101a57;
}

.button:hover,
.button:active,
.button:focus {
    background: #43a047;
}
.message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.green-link{
    color: #4caf50;
    text-decoration: none;
}

.register-form {
    display: none;
}
