/* 1 */
li:first-of-type {
    color: red;
}

/* 2 */
li:not(:last-child) {
    padding: 13px;
}

/* 3 */
li:nth-child(even) {
    background: blue;
}

/* 4 */
li:nth-child(3n+3) {
    list-style-type: square;
}

/* 5 */
li:nth-child(5) {
    color: orange;
}

/* 6 */
li:nth-child(6):hover+li:nth-child(7) {
    background-color: red;
    color: white;
}

/* 7 */
li:first-child:nth-last-child(8),
li:first-child:nth-last-child(8) ~ li {
    color: white;
    background: blue;
}