* {
    margin: 0;
}
/* Ex1 */
#container1 {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.first {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid green;
    margin: -15px;
}

.second {
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid green;
    margin: -15px;
}

.third {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 80px solid green;
    margin-top: -25px;
}

.base {
    border-top: 70px solid orange;
    border-left: 30px solid orange;
}

/* Ex2 */
.fullcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding: 40px;
}

#container2 {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    align-items: flex-end;
}

.lefttriangle{
    border-top: 70px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 50px solid blue;
}

.right {
    display: flex;
    align-items: flex-end;
}
.righttriangle{
    border-top: 70px solid transparent;
    border-bottom: 00px solid transparent;
    border-left: 50px solid blue;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c1 {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid blue;
    margin: auto;
}

.c2 {
    background-color: red;
    height: 150px;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle1 {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    background-color: yellow;
    border-radius: 50%;
}

.circle2 {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    background-color: yellow;
    border-radius: 50%;
}

.downContainer2{ 
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

.fire1{
    border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 35px solid yellow;
}

.fire2{
    border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 35px solid yellow;
}